*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: burlywood;
    font-family: 'Poppins', sans-serif;
}


.container{
    margin: 10%;
    width: 100%;
    max-width: 700px;
    padding: 20px;
}

h1{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 45px;
    color: #333;
}
span{
    color: brown;
    text-decoration: underline;
}

.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}

.display input{
    border: 0;
    border-radius: 5px;
    font-size: 24px;
    outline: none; 
}

.display img{
    width: 24px;
    height: 28px;
    cursor: pointer;
}

.container button{
    padding: 16px 26px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(143, 101, 51);
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container button img{
    width: 28px;
    margin-right: 10px;
}


