*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-width: 100%;
    min-height: 100%;
    background-color: black;
}

h1{
    margin-top: 25px;
    text-align: center;
    color: white;
}

form{
    margin-top: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
}

img{
    min-width: 100%;
    display: block;
    box-shadow: 0 0 3px 2px rgb(0,0,0,0.2);
    transition: 0.34s ease-in-out;
}

img:hover{
    transform: scale(1.04);
}

input{
    font-size: 1.4rem;
    border: none;
    outline: none;
    border-radius: 2px;
}

input:focus-within{
    box-shadow: 0 0 3px 3px rgb(30,156,129);
}

button{
    font-size: 1rem;
    padding: 0.25rem 0.73rem;
    border: none;
    background-color: #ffffff4b;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    transition: 0.3s ease-in-out;
    box-shadow: 3px 3px 7px 0px rgb(105,104,104);
}

button:hover{
    background-color: #ffffff7a;
    }
button:active{
    transform: translate(1px,1px);
    box-shadow: 1px 1px 7px 0px rgb(105,104,104);
}

.search-input{
    font-size: 14px;
    font-weight: 100;
}


.image-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,0.4fr));
    gap: 20px;
    margin: 10px auto;
    place-content: center;
}